# Storybook variables
STORYBOOK_FRONTEND=true

# CRA variables
HTTPS=true
SKIP_PREFLIGHT_CHECK=true
PORT=3001

# Application variables

# Config Provider variables
REACT_APP_API_URL="https://localhost:4431"
REACT_APP_API_SCOPE="4c-api"
REACT_APP_TRANSLATION_NAMESPACES="common, authentication, system, roles, providers, products, networks, organisations, agencyCodes, dealCodes, leads, clients, journeys, quotes, policies, notes"

# Pusher API Credentials variables
REACT_APP_PUSHER_KEY="PUSHER_KEY_HERE"
REACT_APP_PUSHER_CLUSTER="PUSHER_CLUSTER_HERE"

REACT_APP_GOOGLE_MAPS_KEY="GOOGLE_MAPS_KEY_HERE"
